<style>

#signin {
  text-align: center;
}

h1 {
  text-align: center;
}

.signin {
  text-align: center;
  padding-top: 50 px;
  margin: 50px 50px;
}
</style>

  <div>
  <h1>Zen Garden.</h1>
  </div>

  <div class="signin">
  <p>A simple, elegant, organized happy place.</p>

  </div><div id="signin">

<%= form_tag sessions_url, :class => "form-horizontal" do %>

    <p><%= email_field_tag :email, nil, :placeholder => "Email" %></p>

    <p><%= password_field_tag :password, nil, :placeholder => "Password" %></p>

    <p><%= submit_tag "Sign In", :class => "btn btn-success" %></p>

<% end %>

</div>
