<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<h1><%= @user.name %></h1>

<%= render 'form' %>
