<style>
h1 {
  text-align: center;
}

p {
  text-align: center;
}
</style>


  <h1>Welcome to ZenGarden</h1>

  <p>My simple, organized happy place.</p>

  <p><%= link_to "Sign In", new_session_url, :class => "btn btn-large btn-info" %> or <%= link_to "Sign Up", new_user_url, :class => "btn btn-large btn-info" %></p>
