<style>
h1 {
  text-align: center;
  padding-top: 50px;
}

.signin {
  text-align: center;
  padding-top: 50 px;
  margin: 50px 50px;
}
</style>

  <div>
  <h1>This.</h1>

  <h1>Is.</h1>

  <h1>Zen.</h1>

  <h1>Garden.</h1>
  </div>

  <div class="signin">
  <p>A simple, elegant, organized happy place.</p>
  <p><%= link_to "Sign In", new_session_url, :class => "btn btn-large btn-success" %></p>
  </div>
